

.container {
  margin: auto;
  padding: 0;
  max-width: 800px;
}
.text {
  margin: 0;
  margin-top: 122px;
  margin-bottom: 60px;
  width: 340px;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 7px;
  overflow: hidden;
  border: none;
background-color:#03e9f4;
border-radius: 15px;
}
.text:nth-child(1) {
  filter: hue-rotate(180deg);
}
.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}
.loginBox .userBox {
  position: relative;
}
.loginBox .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.loginBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  pointer-events: none;
  transition: 0.5s;
}
.loginBox .userBox input:focus ~ label,
.loginBox .userBox input:valid ~ label {
  top: -30px;
  left: 0;
  color: grey;
  font-size: 16px;
}
.loginBox .userBox input:focus ~ label:nth-child(2),
.loginBox .userBox input:valid ~ label:nth-child(2) {
  filter: hue-rotate(110deg);
}
.button {
  background: #03e9f4;;
  min-width: 100px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.35s;
  letter-spacing: 4px;
  overflow: hidden;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #666;
}
.button:hover {
  background: #03e9f4;
  color: #050801;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:nth-child(4) {
  filter: hue-rotate(180deg);
}
